header div ul{
    display: none;
}

.card{
    border-radius: 15px;
    text-align: center;
    margin-bottom: 2rem;
}

.card i{
    font-size: 3rem;
    margin-bottom: 1.25rem;
}

.card:first-child{
    padding-bottom: 0;
}

.card:first-child i{
    font-size: 1rem;
    margin-bottom: 0;
}

.card-img{
    width: 80%;
}

/* MEDIA QUERY */

/* tablet view */
@media only screen and (min-width: 768px) {
    
}

/* desktop view */
@media only screen and (min-width: 992px) {

    header div .fa-bars{
        display: none;
    }

    header div ul{
        display: block;
    }

    .intro .card:first-child{
        display: flex;
    }

    .intro .card .card-img{
        width: 40%;
    }

}