header div ul{
    display: none;
}

.card{
    border-radius: 15px;
    text-align: center;
    margin-bottom: 2rem;
    flex-basis: 100%;
}

.card i{
    font-size: 3rem;
    margin-bottom: 1.25rem;
}

.card:first-child{
    padding-bottom: 0;
}

.card:first-child i{
    font-size: 1rem;
    margin-bottom: 0;
}

.card-img{
    width: 80%;
}

.strategy-img{
    width: 100%;
}

.card-white{
    background-color: var(--color-white);
    border-radius: 18px;
}

.btn-rounded{
    background-color: var(--color-purple);
    color: var(--color-dark);
    border-radius: 100%;
    display: inline-block;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
}

.img-rounded{
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.circle{
    border-radius: 100%;
    display: inline-block;
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 150px;

    background-image: url(../img/testimonial1.jpg);
    background-repeat: no-repeat;
}

/* MEDIA QUERY */

/* tablet view */
@media only screen and (min-width: 768px) {
    
    .intro .card .card-img{
        width: 50%;
    }

    .intro>.div{
        justify-content: space-between;
    }

    .card{
        flex-basis: calc(100%/3 - 2%);
    }

    .card:first-child{
        flex-basis: calc(66.66% - 1%);
    }

}

/* desktop view */
@media only screen and (min-width: 992px) {

    header div .fa-bars{
        display: none;
    }

    header div ul{
        display: block;
    }

    .intro .card:first-child{
        display: flex;
    }

    .intro .card .card-img{
        width: 40%;
    }

    .intro>.div{
        justify-content: space-between;
    }

    .card{
        flex-basis: calc(100%/3 - 2%);
    }

    .card:first-child{
        flex-basis: calc(66.66% - 1%);
    }

    .strategy-planning .col{
        flex-basis: 50%;
    }

    .card-white{
        align-self: flex-end;
    }

    .card-white img{
        width: 50%;
    }

}